.sub-category{
	color: #333;margin-top:1%;
	float:left; margin-left:3%;
    font-size: 12px;  margin:left:12px;  font-family: arial,sans-serif;
}
.main{
	padding-bottom: 40px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}   

.float-left{
 float: left;
} 
.red{
	color: red
}
.margin-left-40{
	margin-left: 40px;
}
.margin-bottom-7{
	margin-bottom: 7px;
}
.green{
	color: green;
}