<!DOCTYPE HTML>
<html>
<head>
  <title>Backbone App</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>

<div class="container">
    <div class="main">
        <h3 >Amazon fashion</h3>
        <div class="sub-category" >WOMEN</div>
        <div class="sub-category">MEN</div>
        <div class="sub-category">KIDS</div>
        <div class="sub-category">BAGS</div>
        <div class="sub-category">SPORTSWEAR</div>
        <div class="sub-category">BRANDS</div>
        <div class="sub-category">SALES & DEALS</div>
    </div>

    <div>
        <div class="float-left">
            <img src="img/watch.jpg" width="256">
        </div>
        <div class="float-left">
            <h4>Skmei Analog-Digital Black Dial Men's Watch - 990BLK</h4>
            <span>Price: <span class="red">527.00</span></span>
            <div class="margin-left-40 margin-bottom-7">Inclusive of all taxes</div>
            <div class="margin-bottom-7"><b>Cash on Delivery </b>eligible.</div>
            <div class="green">In stock</div>
            <div class="margin-bottom-7">Delivery to pincode 110001 - Delhi by Monday, March 27.</div>
            <div class="margin-bottom-7"> Sold and fulfilled by MastiMall </div>
            <ul>
                <li>Dial Color : Black</li>
                <li>Band Color : Black</li>
                <li>Watch Movement: Dual Digital + Analogue</li>
                <li>Case Material : Durable Tough Plastic</li>
                <li>Water Resistance Dept - 30 Meter</li>
            </ul>
            <div class="margin-bottom-7"><b>The order quantity for this product is limited to 2 unit per customer</b></div>
            <div class="margin-bottom-7">Please note that orders which exceed the quantity limit will be auto-canceled. This is applicable across sellers.</div>
        </div>
        <div class="row">
            <div class="col-md-6" id="primary-content" style="margin-left:22%">
            <!-- the container that gets populated with the rendered templates -->
             
            </div>
            <div class="col-md-6">
              <!-- we are going to debug our backbone collection here -->
              
            </div>
        </div>
    </div>

  <!-- THE JAVASCRIPT TEMPLATES -->
  <!-- the form, used for create and edit -->
    <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-danger fade in" style="display:none;"></div>
      <form>
        <h2><%= title %></h2>
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" name="title" value="<%= title %>" />
        </div>
        <div class="form-group">
          <label>Author:</label>
          <input type="text" class="form-control" name="author" value="<%= author %>" />
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" rows="5" name="description"><%= description %></textarea>
        </div>
        <button class="save btn btn-large btn-info" type="submit">Save</button>
        <a href="#notes/index" class="btn btn-large btn-default">Cancel</a>
      </form>
    </div>
    </script>

    <!-- the index container -->
    <script type="text/template" id="indexTemplate">
        <div class="well">
            <a class="btn btn-block btn-large btn-info"  href="#product/size">Please select  Size</a>
        </div>
    </script>
    <!-- the form, used for create and edit -->
    <script type="text/jst" id="productSizeTemplate">
        <div class="well">
         <div class="alert alert-danger fade in" style="display:none;"></div>
         <h4> Select size</h4>
         <div class="radio">
           <label><input type="radio" name="size" value="Small">Small</label>
         </div>
         <div class="radio">
           <label><input type="radio" name="size" value="Medium">Medium</label>
         </div>
         <div class="radio">
           <label><input type="radio" name="size" value="Large">Large</label>
         </div>
         <button class="save btn btn-large btn-info" type="submit">Next</button>
           <a href="#product/index" class="btn btn-large btn-default">Cancel</a>
        </div>
     </script>
     <!-- template, used for color selection -->
     <script type="text/jst" id="colorTemplate">
       <div class="well">
         <div class="alert alert-danger fade in" style="display:none;"></div>
         <h4>Select Color</h4>
         <div class="radio">
           <label><input type="radio" name="color" value="Blue">Blue</label>
         </div>
         <div class="radio">
           <label><input type="radio" name="color" value="Red">Red</label>
         </div>
         <div class="radio">
           <label><input type="radio" name="color" value="Yellow">Yellow</label>
         </div>
         <button class="save btn btn-large btn-info" type="submit">Next</button>
           <a href="#product/index" class="btn btn-large btn-default">Cancel</a>
       </div>
     </script>

     <!-- template, used for quantity selection -->
     <script type="text/jst" id="quantityTemplate">
       <div class="well">
         <div class="alert alert-danger fade in" style="display:none;"></div>
         <h4>Select Quantity</h4>
         <select class="form-control" id="productquantity" name="productquantity">
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
           <option value="6">6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
         </select>
         <br/>
         <button class="save btn btn-large btn-info" type="submit">Next</button>
           <a href="#product/index" class="btn btn-large btn-default">Cancel</a>
       </div>
     </script>


     <!-- the form, used for shipping address -->
     <script type="text/jst" id="shippingFormTemplate">
       <div class="well">
         <div class="alert alert-danger fade in" style="display:none;"></div>
         <form>
           <h4>Enter shipping detail</h4>
           <br/>
           <div class="form-group">
             <label>Address One:</label>
             <input type="text" class="form-control" name="address1" value="" />
           </div>
           <div class="form-group">
             <label>Address Two:</label>
             <input type="text" class="form-control" name="address2" value="" />
           </div>
           <div class="form-group">
             <label>City</label>
             <input type="text" class="form-control" name="city" value="" />
           </div>
           <div class="form-group">
             <label>State</label>
             <input type="text" class="form-control" name="state" value="" />
           </div>
           <div class="form-group">
             <label>Zip Code</label>
             <input type="text" class="form-control" name="zip" value="" />
           </div>
           <button class="save btn btn-large btn-info" type="submit">Finish</button>
           <a href="#product/index" class="btn btn-large btn-default">Cancel</a>
         </form>
       </div>
     </script>

     <!-- template, used for quantity selection -->
     <script type="text/jst" id="detailTemplate">
       <div class="well">
         <div class="alert alert-danger fade in" style="display:none;"></div>
         <h4 class="green"> Product detail </h4>
         
        
          
          <div class="margin-bottom-7 red">Selected Product</div>
          <tr><td><b>Size</b></td> :<td>
          <%= notes[0].size %></td></tr><br/><br/>
          <tr><td><b>color</b></td> :<td>
          <%= notes[1].color %></td></tr><br/><br/>
          <tr><td><b>quantity</b></td> :<td>
          <%= notes[2].quantity %></td></tr>
       
       </div>
     </script>

  <!-- load the libraries we need -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
  <!-- load our scripts -->
  <script src="js/product_router.js"></script>
  <script src="js/product_model.js"></script>
  <script src="js/views/note_index.js"></script>
  <script src="js/views/product_size.js"></script>
  <script src="js/views/product_quantity.js"></script>
  <script src="js/views/product_color.js"></script>
  <script src="js/size_model.js"></script>
  <script src="js/color_model.js"></script>
  <script src="js/quantity_model.js"></script>
  <script src="js/views/product_shipping.js"></script>
  <script src="js/views/product_detail.js"></script>
  <script src="js/shipping_address_model.js"></script>
  <script src="js/helpers.js"></script>
  <script>
    var app = new APP.ProductRouter();
  </script>
</body>
</html>
